<!DOCTYPE html>
<html>
<head>
  <title>Your Products</title>
</head>
<body>
  <h2>Your Products</h2>

  <a href="{% url 'add_product' %}">+ Add New Product</a><br><br>

  <table border="1" cellpadding="10">
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Qty</th>
      <th>Image</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
    {% for product in products %}
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ product.category.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.quantity }}</td>
      <td>
        {% if product.image %}
          <img src="{{ product.image.url }}" width="50">
        {% else %}
          No Image
        {% endif %}
      </td>
      <td>{{ product.is_active }}</td>
      <td>
        <a href="">Edit</a> |
        <a href="">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>